<!DOCTYPE html>
<html lang="en" ng-app="todoList">
  <head>
    <title>To Do List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="styles.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="app/app.js"></script>
    <script src="app/todoController.js"></script>
  </head>
  <body ng-controller="todoController as todoCtrl">
    <section class="container">

      <header>
        <h1>What do you need to do today?</h1>
        <hr>
      </header>

      <article id="tasks">

        <form class="row">
          <div class="form-group">
            <div class="col-sm-6">
            <input type="text" ng-model="todoCtrl.todoItem">
            </div>
            <div class="col-sm-6">
            <button ng-click="todoCtrl.addItem(todoCtrl.todoItem)" class="btn btn-primary" id="addItem">Add item</button>
            </div>
          </div>
        </form>

        <article class="table-responsive">
          <table class="table" ng-repeat="item in todoCtrl.items">
            <tr id="tableRow" ng-class="{strikethrough: completed}">
              <td><input type="checkbox" ng-model="completed"></td>
              <td id="todoItem">{{ item }}</td>
              <td><button type="button" class="btn-danger" ng-click="todoCtrl.deleteItem(item)">
                <span class="glyphicon glyphicon-remove"></span>&nbsp;Remove
              </button></td>
            </tr>
          </table>
        </article>

      </article>
      <article>
        <button ng-click="todoCtrl.clearAll()" class="btn btn-primary" id="clearItems">Clear all tasks</button>
      </article>

    </section>
  </body>
</html>
